<div class="row">
<div class="col-sm-6">
	<div class="alert boxed alert-error fade in" ng-show="error">
		<div class="alert-body">
			<span> eita :(</span>
			<p>ou esse e-mail tá sendo usado ou deu cagadinha no cadastro, tenta denovo :)</p>
		</div>
		<span class="alert-label"></span>
		<a style="outline: medium none;" hidefocus="true" href="#" class="close" data-dismiss="alert">close</a>
	</div>
	<div class="add-comment styled boxed">
		<div class="comment-form">
			<form action="#" method="post" id="commentForm" class="ajax_form">
				<div class="form-inner">
					<div class="field_select">
						<label for="contact_name" class="label_title">Contacts</label>
						<select class="chzn-done" style="display: none;" name="contact_name" id="contact_name" multiple="" data-placeholder="Choose from list">
							<option value="Hello@me.com">Hello@me.com</option>
							<option value="Andy@me.com">Andy@me.com</option>
							<option value="info@ex.com">info@ex.com</option>
							<option value="John@ex.com">John@ex.com</option>
							<option value="Doe@ex.com">Doe@ex.com</option>
						</select><div id="contact_name_chzn" title="" style="width: 100%;" class="chzn-container chzn-container-multi"><ul class="chzn-choices"><li class="search-field"><input value="Choose from list" class="default" autocomplete="off" style="width: 122px;" type="text"></li></ul><div class="chzn-drop gradient"><ul class="chzn-results"></ul></div></div>
					</div>
					<div class="field_text">
						<label for="subject" class="label_title">Subject</label>
						<input style="outline: medium none;" hidefocus="true" name="subject" id="subject" value="" placeholder="You can add a subject" class="inputtext input_middle required" type="text">
					</div>
					<div class="clear"></div>
					<div class="field_text field_textarea">
						<label for="styled_message" class="label_title">Message</label>
						<textarea style="outline: medium none;" hidefocus="true" cols="30" rows="10" name="styled_message" id="styled_message" placeholder="Leave your message here" class="textarea textarea_middle required"></textarea>
					</div>
					<div class="clear"></div>
				</div>

				<div class="rowSubmit clearfix">
					<span class="btn"><input class="gradient" style="outline: medium none;" hidefocus="true" id="send" value="Send Mail" type="submit"></span>
					<span class="btn"><input class="gradient" style="outline: medium none;" hidefocus="true" id="send" value="Send Mail" type="submit"></span>
				</div>
			</form>
		</div>
	</div>
</div>
<div class="col-sm-6">
	<div class="service_list service_list_2">
		<div class="row">
			<div class="col-sm-6">
				<div class="service_item boxed no-radius red">
					<div class="inner">
						<div class="service_img"><img src="images/icons/service-icon-5.png" alt=""></div>
						<div class="service_title"><h2><a style="outline: medium none;" hidefocus="true" href="#">eficácia</a></h2></div>
						<div class="service_desc">
							<p>alcançamos rapidamente seus resultados planejados.</p>
						</div>
						<div class="service_meta_bot"><a style="outline: medium none;" hidefocus="true" href="#" class="link-more">Related works</a></div>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="service_item boxed no-radius green">
					<div class="inner">
						<div class="service_img"><img src="images/icons/service-icon-9.png" alt=""></div>
						<div class="service_title"><h2><a style="outline: medium none;" hidefocus="true" href="#">acompanhe!</a></h2></div>
						<div class="service_desc">
							<p>temos um resumão em tempo real do seu pedido, detalhadíssimo.</p>
						</div>
						<div class="service_meta_bot"><a style="outline: medium none;" hidefocus="true" href="#" class="link-more">Related works</a></div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<div class="service_item boxed no-radius blue">
					<div class="inner">
						<div class="service_img"><img src="images/icons/service-icon-7.png" alt=""></div>
						<div class="service_title"><h2><a style="outline: medium none;" hidefocus="true" href="#">medo?</a></h2></div>
						<div class="service_desc">
							<p>guardamos suas informações com muito carinho e cuidado.</p>
						</div>
						<div class="service_meta_bot"><a style="outline: medium none;" hidefocus="true" href="#" class="link-more">Related works</a></div>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="service_item boxed no-radius">
					<div class="inner">
						<div class="service_img"><img src="images/icons/service-icon-4.png" alt=""></div>
						<div class="service_title"><h2><a style="outline: medium none;" hidefocus="true" href="#">dúvidas?</a></h2></div>
						<div class="service_desc">
							<p>temos uma ótima equipe pronta para te ajudar :) <a href="#">veja as formas de contato</a></p>
						</div>
						<div class="service_meta_bot"><a style="outline: medium none;" hidefocus="true" href="#" class="link-more">Related works</a></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
