<div class="boxed nm">
	<div class="inner text-center">
		<h2>eaí {{ user.email }}! bora encomendar um treino?</h2>
		<div class="row">
			<div class="col-sm-4 col-sm-offset-2 text-center">
				<h4>qual teu elo atual?</h4>
				<img src="images/badges/bronze_v.png" class="img" />
				<form>
					<select>
						<option value="x">Tier Bronze</option>
					</select>
					<select>
						<option value="x">Divisão V</option>
					</select>
				</form>
			</div>
			<div class="col-sm-4 text-center">
				<h4>e qual deseja chegar?</h4>
				<img src="images/badges/diamond_v.png" class="img" />
				<form>
				<form>
					<select>
						<option value="x">Tier Diamante</option>
					</select>
					<select>
						<option value="x">Divisão V</option>
					</select>
				</form>
				</form>
			</div>
		</div>
		<div class="row">
			<a href="#" class="btn btn-green" hidefocus="true" style="outline: none;"><span class="gradient">Calcular</span></a>
		</div>
	</div>
</div>
